<a href="https://colab.research.google.com/github/papu7896/projects/blob/main/Untitled24.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [179]:
import numpy as np
import pandas as pd
import nltk
import os,warnings
warnings.simplefilter('ignore')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from ast import literal_eval
from collections import defaultdict

In [180]:
df=pd.read_csv('/content/restaurants.csv')
df.head(2)

,Name,Location,Locality,City,Cuisine,Rating,Votes,Cost
0,Local,"Scindia House,Connaught Place, Central Delhi",Central Delhi,Delhi,"North Indian, Finger Food, Continental",4.1,2415,2000
1,The G.T. ROAD,"M-Block,Connaught Place, Central Delhi",Central Delhi,Delhi,North Indian,4.3,2363,1500

In [181]:
df.isnull().sum()

Name        0
Location    0
Locality    0
City        0
Cuisine     0
Rating      0
Votes       0
Cost        0
dtype: int64

In [182]:
df.dtypes

Name         object
Location     object
Locality     object
City         object
Cuisine      object
Rating      float64
Votes         int64
Cost          int64
dtype: object

In [183]:
df.nunique()

Name        4520
Location    2399
Locality     108
City          23
Cuisine     2096
Rating        39
Votes        738
Cost          52
dtype: int64

In [184]:
df.drop_duplicates(inplace=True)

In [185]:
df.reset_index(inplace=True,drop=True)

In [186]:
df.columns

Index(['Name', 'Location', 'Locality', 'City', 'Cuisine', 'Rating', 'Votes',
       'Cost'],
      dtype='object')

In [187]:
#processing location columnn
def extract_area(loc):
    splits = loc.split(',')
    if len(splits) == 2:
        splits.pop(1)
    elif len(splits) == 3:
        splits.pop(2)
    elif len(splits) == 4:
        splits.pop(3)
    final_loc = ' '.join(l for l in splits)
    return final_loc

df['Location'] = df['Location'].apply(lambda x: extract_area(x))

In [188]:
def preprocess(cuisine):
    cuisine = cuisine.lower()
    cuisine = cuisine.replace(',',' ')
    return cuisine

df['Cuisine'] = df['Cuisine'].apply(lambda x: preprocess(x))
df['City'] = df['City'].apply(lambda x: preprocess(x))

In [189]:
# drop columns


# view
df.head()
  

nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [190]:
def recommend(city, cuisine, cost):
    # preprocess the cuisine string
    cuisine = cuisine.lower()
    stop_words = stopwords.words('english') # fix typo
    filtered = {word for word in word_tokenize(cuisine) if not word in stop_words}
    
    # filter the DataFrame by city and cost
    city_df = df[df['City']==city.lower()]
    city_df = city_df[city_df['Cost'] <= int(cost)] # fix variable name
    
    # initialize an empty list to store cosine similarities
    cos = []
    
    # calculate cosine similarities for each restaurant in the filtered city DataFrame
    for i in range(city_df.shape[0]):
        temp_token = word_tokenize(city_df["Cuisine"][i])
        temp_set = [word for word in temp_token if not word in stop_words]
        temp_set = set(temp_set)
        vector = temp_set.intersection(filtered)
        cos.append(len(vector))
    
    # add the cosine similarities as a new column to the city DataFrame
    city_df['similarity'] = cos
    
    # sort the city DataFrame by cosine similarity and rating
    city_df = city_df.sort_values(by=['similarity', 'Rating'], ascending=[False, False])
    city_df = city_df.reset_index(drop=True)
    
    # return the top restaurant recommendations
    return city_df[["Name", "Location", "Rating"]].head()

In [191]:
recommend('Mumbai','Desserts',2000)

KeyError: ignored